
.Card{
    /*background-color: red;
    color:White;
    flex-basis:200px;
    text-align: center;
    border-radius: 5%;
    
    height:350px
    */
    border-radius: 5%;
    flex-basis:auto;
    display: flex;
    flex-shrink:1;
    flex-grow: 1;
    flex-direction: column;
    background-color: rgb(80, 100, 100);
    color:white;
    align-items: center;
    justify-content: start;
    margin: 15px;
    
}

.Card > img{
    width: 200px;
    border-radius: 10%;
    flex-shrink: 3;
}