.Hero-box{
    display:flex;
    background-color: rgb(8, 8, 53);
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 10px;
    flex-direction: row;
    align-items:baseline;
    flex:1;
    
    

}